@inject NavigationManager navManager
@inject ILoginService lService
@page "/dashboard"
@using ComwellApp.Services.Login
@using Shared
<PageTitle>Dashboard</PageTitle>

<h3>Dashboard</h3>

@if (loggedIn is not null && (loggedIn.Rolle == "Køkkenchef" || loggedIn.Rolle == "HR"))
{
    <button class="btn btn-primary" @onclick="OnClickOpret">Opret elev</button>
}

@code {
    private Bruger? loggedIn;

    protected override async Task OnInitializedAsync()
    {
        loggedIn = await lService.GetUserLoggedIn();
        if (loggedIn == null)
        {
            navManager.NavigateTo("login/dashboard");
            return;
        }
    }

    private void OnClickOpret()
    {
        navManager.NavigateTo("opretelev");
    }
}