@page "/elevplan"
@inject ILoginService lService
@inject NavigationManager navManager
@using ComwellApp.Services.Login
@using Shared
<PageTitle>Elevplan</PageTitle>

<h3>Elevplan</h3>

@code {
    private Bruger? loggedIn;
    protected override async Task OnInitializedAsync()
    {
        loggedIn = await lService.GetUserLoggedIn();
        if (loggedIn == null)
        {
            navManager.NavigateTo("login/elevplan");
            return;
        }
    }
}