@page "/elevplan"
@inject ILoginService lService
@inject NavigationManager navManager
@using ComwellApp.Services.Login
@using Shared
<PageTitle>Elevplan</PageTitle>

<h3>Min elevplan</h3>
<div id="periodevisning"></div>

<div id="elevoplysning">
    <div id ="elevdata">
    </div>
    <div id ="elevbillede">
    </div>
    <div id="statusbar">
    </div>
</div>
<!--
<div id="plan">
    @foreach (mål in praktikperiode)
    {
        @foreach (delmål in mål)
    }
</div>
-->


@code {
    private Bruger? loggedIn;

    protected override async Task OnInitializedAsync()
    {
        loggedIn = await lService.GetUserLoggedIn();
        if (loggedIn == null)
        {
            navManager.NavigateTo("login/elevplan");
            return;
        }
    }

}