@page "/elevplan"
@inject ILoginService lService
@inject IBrugereService bService 
@inject NavigationManager navManager
@using ComwellApp.Services.Brugere
@using ComwellApp.Services.Login
@using Shared
@using ElevplanModel = Shared.Elevplan
<PageTitle>Elevplan</PageTitle>

<h3>Min elevplan</h3>
<div class="elevplan-layout">
    <div class="main-indhold">
        <div id="periodevisning">
            @if (minPlan?.ListPerioder != null)
            {
                <div>
                    Se periode
                    @for (int i = 0; i < minPlan.ListPerioder.Count; i++)
                    {
                        <button @onclick="() => valgtPeriodeIndex = i">
                            @(i + 1)
                        </button>
                    }
                </div>
            }
        </div>

        <div id="elevoplysning">
            <div id="elevdata">
                <p> @loggedIn?.Navn</p>
                <p> Elev siden: @loggedIn?.StartDato</p>
                <p> Køkkenchef: @minPlan?.Ansvarlig?.Navn</p>
                <p> Lokation: @loggedIn?.Koekken?.LokationNavn</p>
                <p> Antal delmål opnået: xx</p>
            </div>
            <div id="elevbillede">
                @if (!string.IsNullOrEmpty(loggedIn?.Billede))
                {
                    <img src="@loggedIn.Billede" alt="Elevbillede" class="elevbillede-img" />
                }
            </div>
            <div id="statusbar">
            </div>
        </div>
        <div id="plan">
            @if (aktivPeriode != null)
            {
                @foreach (var mål in aktivPeriode.ListMaal)
                {
                    <div class="maal-kort">
                        <h5>@mål.MaalNavn</h5>
                    </div>

                    <div class="delmaal-container">
                        @foreach (var delmål in mål.ListDelmaal)
                        {
                            <div class="delmaal">
                                <p><strong>@delmål.Beskrivelse</strong></p>
                                <p>Type: @delmål.DelmaalType</p>
                                <p>Ansvarlig: @delmål.Ansvarlig</p>
                                <p>Deadline: @(delmål.Deadline?.ToString("dd/MM-yyyy") ?? "-")</p>
                                <p>Kommentar: @delmål.DeadlineKommentar</p>
                                <p>Status: @(delmål.Status ? "✓ Opnået" : "✗ Ikke opnået")</p>
                            </div>
                        }
                    </div>
                    <br>
                }
            }
        </div>
    </div>
    <div class="sidepanel">
        Her implementerer vi deadlines - og evt. andre ting
    </div>
</div>



@code {
    //Gemmer den bruger som er logget ind
    private Bruger? loggedIn;
    //Gemmer planen for den bruger som er logget ind, ved at hente den i OnInitializedAsync
    private ElevplanModel? minPlan;
    //Sætter default visning til at være 0 (1 praktik), og gør det muligt at ændre visning til andre
    private int valgtPeriodeIndex = 0;
    private Praktikperiode? aktivPeriode => minPlan?.ListPerioder[valgtPeriodeIndex];


    protected override async Task OnInitializedAsync()
    {
        loggedIn = await lService.GetUserLoggedIn();
        if (loggedIn == null)
        {
            navManager.NavigateTo("login/elevplan");
            return;
        }
        minPlan = loggedIn.MinElevplan;
    }
}