@page "/hjem"
@inject ILoginService lService
@inject NavigationManager navManager
@using ComwellApp.Services.Login
@using Shared

<PageTitle>Hjem</PageTitle>

<h3 class="overskrift">Velkommen, @loggedIn?.Navn</h3>
<p class="mb-4 text-base">Her får du et overblik over dine mål og praktiske informationer.</p>

<div class="dashboard-box-container">
    <div class="dashboard-box">
        <h4>Learning Module</h4>
        <!-- Indhold kommer senere -->
    </div>
    <div class="dashboard-box">
        <h4>Kommende Deadlines</h4>
        <!-- Indhold kommer senere -->
    </div>
    <div class="dashboard-box">
        <h4>Praktisk Info</h4>
        <!-- Indhold kommer senere -->
    </div>
</div>

@code {
    private Bruger? loggedIn;

    protected override async Task OnInitializedAsync()
    {
        loggedIn = await lService.GetUserLoggedIn();
        if (loggedIn == null)
        {
            navManager.NavigateTo("login/hjem");
            return;
        }
    }
}
