@page "/hjem"
@inject ILoginService lService
@inject NavigationManager navManager
@using ComwellApp.Services.Login
@using Shared

<PageTitle>Hjem</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    private Bruger? loggedIn;
    protected override async Task OnInitializedAsync()
    {
        loggedIn = await lService.GetUserLoggedIn();
        if (loggedIn == null)
        {
            navManager.NavigateTo("login/hjem");
            return;
        }
    }
}
