@page "/login/{target:alpha}"
@using ComwellApp.Services
@using ComwellApp.Services.Login
@using Shared
@inject NavigationManager navManager
@inject ILoginService loginService
<div class="login-page-background">
    <div class="login-container">
        <h3>Log ind</h3>

        <div class="form-group">
            <InputText class="form-control" @bind-Value="Email" placeholder="Email"/>
        </div>
        <br/>
        <div class="form-group">
            <InputText class="form-control" type="password" @bind-Value="Adgangskode" placeholder="Adgangskode"/>
        </div>
        <br/>
        <div class="form-group mt-2">
            <button class="btn btn-primary" @onclick="OnClickLogin">Log ind</button>
        </div>
        @if (!string.IsNullOrEmpty(errorText))
        {
            <div class="error-message">
                <span class="error-icon">⚠️</span>
                <span class="error-text">@errorText</span>
            </div>
        }
    </div>
</div>
@code {
    string Email = "";
    string Adgangskode = "";
    string errorText = "";

    [Parameter] public string target { get; set; }

    private async Task OnClickLogin()
    {
        var succes = await loginService.Login(Email, Adgangskode);
        if (!succes)
        {
            errorText = "Forkert email eller adgangskode, vær venlig og prøve igen";
        }
        else
        {
            navManager.NavigateTo(target, forceLoad: true);
        }
    }
}